html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

p,
h1 {
    margin: 0;
}

a {
    -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    text-decoration: none;
    border-bottom: dotted 1px;
    color: inherit;
}

a:hover {
    border-bottom-color: transparent;
}

.header {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #797979;
    top: 80px;
    letter-spacing: 0.8px;
    font-size: 22px;
}

.right {
    width: 50%;
    height: 100%;
    float: right;
}

.button {
    display: block;
    font-size: 42px;
    text-align: center;
    line-height: 450px;
    text-decoration: none;
    color: white;
    background-color: #08A6A6;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin: -225px 0 0 -225px;
    text-shadow: 0 -1px -1px #068484;
    -moz-box-shadow: 0 4px 0 #068484, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 0 #068484, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 #068484, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border-radius: 225px;
    -webkit-animation: hue-rotate 40s linear infinite;
    animation: hue-rotate 40s linear infinite;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 1.4px;
    touch-action: manipulation;
}

.button:hover {
    background-color: #09bebe;
    text-shadow: 0 -1px -1px #089c9c;
    -moz-box-shadow: 0 4px 0 #089c9c, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 0 #089c9c, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 0 #089c9c, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.button:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.below {
    position: absolute;
    bottom: 250px;
    text-align: center;
    width: 100%;
    letter-spacing: 0.7px;
    color: #535353;
}

.footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    letter-spacing: 0.7px;
    color: #535353;
}

@-webkit-keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}